html {
    color: #2b2b2b;
    font-family: Roboto, sans-serif;
    
}

a {
    color: white;
    text-decoration: none;
    
}

a:hover {
    color: rgb(212, 200, 222);
    text-decoration: underline;
}

body {
    margin: 0px;
}

footer {
    color: white;
    background-color: #51247a;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

u {    
    border-bottom: 1px dotted;
    text-decoration: none;
}

.site-container {
    display: flex;
    justify-content: center;
}

/* Header */
.logo-header {
    background-color: #51247a;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo-header a{
    text-decoration: none;
    color: white;
}

.logo {
    width: 152px;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
}

.logo-title {
    color: white;
    display: flex;
    padding-left: 16px;
}

.logo-title h1 {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    font-size: 16px;
    font-weight: normal;
}

.title {
    display: flex;
    justify-content: center;
    width: 60%;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    border-bottom: solid 1px #d6d6d6;
}

.title h1 {
    color: #51247a;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    margin-top: 16px;
    text-decoration: none;
    margin-left: 16px;
    margin-right: 16px;
}

.title p {
    color: #51247a;
    font-size: 16px;
    margin: 0;
    margin: 16px;
    margin-bottom: 5px;
}

.title a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 100;
    text-decoration: none;
}

.title-link {
    width: fit-content;
}

.title a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #51247a;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
.title a:hover:after {
    width: 100%;
    left: 0;
}

.nav-pro-bono {
    display: flex;
    flex-direction: row;
}

/* Footer */
.footer-container {
    padding: 0;
}

.footer-container h3 {
    padding-left: 16px;
}

.footer-list-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.footer-list-item {
    color: rgb(212, 200, 222);
    text-align: center;
    padding: 16px;
}

/* Home page */
.course-title h1 {
    color: #51247a;
    font-size: 20px;
} 

.home-body {
    color: #2b2b2b;
    width: 100%;
}

.home-body-banner h3{
    text-decoration: none;
    color: black;
}


.profile-body {
    color: #2b2b2b;
    width: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.project-container {
    display: flex;
    justify-content: space-between;
}

.project-search {
    width: 25%;
}

.project-search h3{
    margin-bottom: 0;
}

.project-row {
    color: black;
    border: solid black 1px;
    margin: 20px;
    border-radius: 14px;
    margin-left: 0;
}

.project-row p, .project-row h3 {
    padding-left: 2%;
    padding-right: 2%;
}



.project-row-table {
    width: 80%;
    margin: 0 10%;
}

.project-row-table a:hover {
    text-decoration: none;
    color: black;
}

.projects-title {
    margin: 0 10%;
}

.search-filters {
    display: block;
    flex-direction: column;
    margin-bottom: 10px;
}

.search-filters ul{
    padding-left: 0;
    margin-top: 0;
}

.project-table {
    width: 65%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
}

.project-table a {
    text-decoration: none;
    height: 60vh;
}

.project-card {
    border-radius: 10px;
    height: 80%;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    /* border: 1px solid black; */
    color: black;
}

.project-card h3 {
    text-align: center;
    margin: 3px 0px;
}

.project-card p {
    margin: 3px 0px;
}

.bio {
    width: 60%;
}

.material-projects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-projects h4{
    color: black;
    text-decoration: none;
    font-weight: 500;
}


.material-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-table a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.material-table h4{
    font-weight: 500;
}

/* Register */
.register-container {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64.4vh;
}

.register-container h1{
    margin-top: 0;
    color: #51247a;
    font-weight: lighter;
}

.register-card {
    width:  40%;
    height: 45vh;
    text-align: center;
}

.text-in {
    width: 95%;
    height: 3rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    transition: background-color .3s ease-out;
    font-size: .875rem;
    line-height: normal;
    padding-left: 4%;
}

.text-in:focus {
    outline: none;
    background-color: #f8f8f8;
}

.text-in p{
    line-height: normal;
}

.submit-btn {
    width: 100%;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #2377cb;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color .3s ease-out;
}

.submit-btn:hover {
    background-color: #005ea5;
}

/* Account Profile */

.profile-banner {
    background-color: #f2f2f2;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: centre;
}

.profile-banner p{
    margin: 0;
    line-height: 24px;
}

.banner-split {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.profile-name {
    font-size: 2.438rem;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 0;
}

.small-icon {
    width: 15px;
    height: 15px;
}

.icons {
    display: flex;
    align-items: center;
}

.mail-link {
    color: #2377cb;
}

.mail-link:hover {
    color: #2377cb;
}

.profile-img {
    width: 20%;
    height: auto;
}

.link {
    color: #2b2b2b;
}

.img-small {
    object-fit:fill;
    width: 98%;
    height: 60%;
    padding-right: 1%;
    padding-left: 1%;
}

.login-links {
    display: flex;
    align-items: center;
}

.links {
    padding-right: 30px;
}

.account-link {
    border: none;
    border-radius: 10px;
    background-color: #2377cb;
    padding: 15px;
    margin-left: 20px;
}

.account-link:hover {
    text-decoration: none;
    color: white;
}

.link-container {
    display:flex;
    padding: 1% 10%;
    justify-content: end;
}

.link-container-submit {
    display:flex;
    padding: 1% 10%;
    width: 100%;
    justify-content: end;
}

.link-container-submit button {
    width: 15%; 
    margin-right: 20%;
}

.input-box {
    display:flex;
}

.input-box-long {
    display: flex;
    width: 100%;
}

.search-buttons {
    width: 60%;
    padding-left: 20%;
}

.search-buttons button {
    width: 80%;
    margin-bottom: 10px;
}

.search-input {
    font-size: 16px;
}

.search-container h3{
    margin-bottom: 0;
}

@media (min-width: 1000px) {
    .home-body  {
        width: 85%;
    }

    .home-body-banner  {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
  }